<aside class="gh-sidebar">
    {{#if post}}
        {{#if @custom.show_toc}}
            <section class="table-of-content widget">
                <h4>{{t "Table of contents"}}</h4>
                <div class="gh-table-of-content toc">
                </div>
            </section>
        {{/if}}
    {{/if}}
    {{#if @custom.show_author_card}}
        {{> "sidebar-author"}}
    {{/if}}

    {{> "sidebar-newsletter"}}

    {{#if @custom.show_tags}}
        {{! Get all tags and order them by post count }}
        <section class="tags widget">
            <h4>{{t "Tags"}}</h4>
            <div class="tag-cloud">
                {{#get "tags" limit="15" include="count.posts" order="count.posts desc"}}
                    {{#foreach tags}}
                        <a href="{{url}}">{{name}} ({{count.posts}})</a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
    {{/if}}
</aside>