{{!< default}}

{{#post}}
<main class="layout layout--page">
    <article class="page">
        <header class="page-header">
            {{#if @page.show_title_and_feature_image}}
                <h1 class="page-title">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="page-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                {{#if feature_image}}
                    <figure class="page-feature">
                        <img src="{{img_url feature_image size="xl"}}" 
                             alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" 
                             loading="eager">
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
            {{else}}
                <h1 class="page-title">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="page-excerpt">{{custom_excerpt}}</p>
                {{/if}}
            {{/if}}
        </header>

        <section class="page-content gh-content">
            {{content}}
        </section>
    </article>

    <aside class="sidebar">
        {{#if @custom.show_author_card}}
            {{> "sidebar-author"}}
        {{/if}}
        {{> "sidebar-newsletter"}}
        {{#if @custom.show_tags}}
            <section class="tags widget">
                <h4>{{t "Tags"}}</h4>
                <div class="tag-cloud">
                    {{#get "tags" limit="15" include="count.posts" order="count.posts desc"}}
                        {{#foreach tags}}
                            <a href="{{url}}">{{name}} ({{count.posts}})</a>
                        {{/foreach}}
                    {{/get}}
                </div>
            </section>
        {{/if}}
    </aside>
</main>
{{/post}}
